body {
font-family: "Open Sans", sans-serif;
background-color: rgba(0, 20, 8, 0.767);
color: white;
}

h1, h2, h3 {
    font-family: "Patrick Hand", sans-serif;
    color: rgb(35, 177, 182);
}

h2 {
    color: #c8ffe3;
}

header h2 {
    color: #c8ffe3;
}

.site-footer {
    background-image: linear-gradient(to top, #011d19, #127c65);
    padding: 20px 0;
    color: white;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #011d19, #127c65, #1b9b70);
    color: rgb(25, 228, 184);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark {
    background-color: #1d9ebe;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #1c67ad;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}